/*Nav*/
.bg-pink{
    background-color: #000000;
}
.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.header{
    font-family: 'Bad Script', cursive;;
}
/*Hero*/
.html,body{
    height:100vh;
}
.hero{
    background-image:url('/assets/img/IMG-20191217-WA0013.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100%;
    position: relative;
}
hr {
    width: 25%;
    border: solid 1px;
    text-align: center;
    color: #660066;
}
.icono a{
    color: white;
}
.texto-hero{
    position: absolute;
    top: 62%;
    width: 100%;
}
h5{
    text-align: center;
}
#trabajos{
    padding-right: 0px;
    padding-left: 0px;
}
@media (min-width:768px){
    .mishobbis {width: 50%; margin: auto;}}

@media (min-width:992px){
        .mishobbis {width: 80%;}}